@{
    ViewBag.Title = "Contact";
}

<br />
<br />

<h3>@ViewBag.Message</h3>

<address>
    Пријави Проблем++<br />
    Тетово, 1200<br />
    <abbr title="Phone">P:</abbr>
    +389 75 555 555
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:prijaviProblem.275@mail.com">prijaviProblem.275@mail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mail.com</a>
</address>