@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img alt="Background"  src="~/img/bg-home.png" 
          style="display: block; margin: 0 auto; max-width: 100%; height: auto;"/>

    <button type="button" class="btn btn-m btn-success" 
            style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%);">
        <a href="/Problems/Create" style="text-decoration:none; color:white">Пријави проблем тука.</a>
    </button>
</div>